<div class="center">
    <p style="font-weight: bold; font-size: large;">Контакты</p>
    <div class="list">
        <p>Телефон:</p> 
        <a href="tel:+79297136283">+7(929)-713-62-83</a>
    </div>
    <div class="list">
        <p>Авито</p>
        <button type="button" class="btn btn-primary btn-md"><a href="https://www.avito.ru/tolyatti/predlozheniya_uslug/elektrik_montazh_lyustry_remont_rozetki_provodki_4360351631?context=H4sIAAAAAAAA_wE_AMD_YToyOntzOjEzOiJsb2NhbFByaW9yaXR5IjtiOjA7czoxOiJ4IjtzOjE2OiJaS1Fnako5OU9GOG1IZk9MIjt9qhkLLT8AAAA" class="link">Ссылка</a></button>
    </div>
    <div class="list">
        <p>Телеграм</p>
        <button type="button" class="btn btn-primary btn-md"><a href="https://t.me/electrik_tlt" class="link">Ссылка</a></button>
    </div>
</div>