<div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="brand.jpg"/>
      </a>
      <span class="navbar-text">Электрик Тольятти</span>
  </div>
  </nav>
 <div class="nav nav-pills bg-dark" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="pill" routerLink="/home" routerLinkActive="active">Главная</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="pill" routerLink="/service" routerLinkActive="active">Прайс-лист</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="pill" routerLink="/contacts" routerLinkActive="active">Контакты</a> 
  </li>
</div>
  <router-outlet></router-outlet>
</div>